<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/editReservations.css" />
    <title>Modifier une réservation</title>
  </head>
  <body>
    <h1>Modifier la réservation</h1>
    <section class="edit-reservations">
      <form
        action="/reservations/<%= reservation._id %>?_method=PUT"
        method="POST"
      >
        <label for="catwayNumber">Numéro de Catway :</label>
        <input
          type="text"
          id="catwayNumber"
          name="catwayNumber"
          value="<%= reservation.catwayNumber %>"
          required
        />

        <label for="clientName">Nom du client :</label>
        <input
          type="text"
          id="clientName"
          name="clientName"
          value="<%= reservation.clientName %>"
          required
        />

        <label for="boatName">Nom du bateau :</label>
        <input
          type="text"
          id="boatName"
          name="boatName"
          value="<%= reservation.boatName %>"
          required
        />

        <label for="startDate">Date de début :</label>
        <input
          type="date"
          id="startDate"
          name="startDate"
          value="<%= reservation.startDate ? reservation.startDate.toISOString().slice(0, 10) : '' %>"
          required
        />

        <label for="endDate">Date de fin :</label>
        <input
          type="date"
          id="endDate"
          name="endDate"
          value="<%= reservation.endDate ? reservation.endDate.toISOString().slice(0, 10) : '' %>"
          required
        />

        <button type="submit">Enregistrer les modifications</button>
      </form>
      <a href="/reservations">Annuler</a>
    </section>
  </body>
</html>
